
gunicorn==20.1.0
ipykernel==5.5.0
ipython==7.22.0
libcst==0.3.17
packaging==20.9
pandas==1.2.3
Pygments==2.8.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4
pyzmq==22.0.3
requests==2.25.1
rsa==4.7.2
six==1.15.0
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.4
wcwidth==0.2.5
